---
import Github from "./assets/Github.svg?raw";
import Instagram from "./assets/Instagram.svg?raw";
import Linkedin from "./assets/LinkedIn.svg?raw";
import Twitter from "./assets/Twitter.svg?raw";
import Mail from "./assets/Mail.svg?raw";
---

<footer
  class="flex bg-neutral-950 justify-center border-t-[1px] border-neutral-700"
>
  <div
    class="px-5 w-[47rem] flex justify-between text-start py-3 font-inter items-center"
  >
    <!-- Footer -->

    <p class="text-neutral-500 text-xs sm:text-sm">u can do it too</p>

    <ul class="socials flex justify-between gap-3 items-center">
      <li>
        <a
          href="https://github.com/sxdny"
          rel="noopener noreferrer"
          class="text-lg sm:text-xl text-neutral-500 hover:text-lime-400"
        >
          <Fragment class="fill-neutral-600 hover:fill-lime-400 w-5" set:html={Github} />
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/SidneySilvaBra1"
          rel="noopener noreferrer"
          class="text-lg sm:text-xl text-neutral-500 hover:text-lime-400"
        >
          <Fragment class="fill-neutral-600 hover:fill-lime-400 w-5" set:html={Twitter} />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/devsidney/"
          rel="noopener noreferrer"
          class="text-lg sm:text-xl text-neutral-500 hover:text-lime-400"
        >
          <Fragment class="fill-neutral-600 hover:fill-lime-400 w-5" set:html={Linkedin} />
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/crasdire/"
          rel="noopener noreferrer"
          class="text-lg sm:text-xl text-neutral-500 hover:text-lime-400"
        >
          <Fragment class="fill-neutral-600 hover:fill-lime-400 w-5" set:html={Instagram} />
        </a>
      </li>
      <li>
        <a
          href="mailto:sidneysilva@skiff.com"
          rel="noopener noreferrer"
          class="text-lg sm:text-xl text-neutral-500 hover:text-lime-400"
        >
          <Fragment class="fill-neutral-600 hover:fill-lime-400 w-5" set:html={Mail} />
        </a>
      </li>
    </ul>
  </div>
</footer>
