---
import { Badge } from "@/components/ui/badge";

const { title, description, url, tags, img } = Astro.props;

---

<li class="flex flex-col gap-1">
  <a
    class="bg-neutral-950 rounded border-[1px] border-neutral-700 hover:bg-zinc-900 transition-colors"
    href={url}
  >
    <div>
      <img
        src={img}
        alt={title}
        class="w-full rounded-t h-40 object-cover border-b border-neutral-700"
      />
    </div>
    <div class="p-3">
      <h2
        class="text-white font-heading font-medium tracking-tight text-base sm:text-lg"
      >
        {title}
      </h2>
      <p class="text-gray-400 font-inter text-xs pretty sm:text-sm">
        {description}
      </p>
      <ul class="mt-2">
        {
          tags.map((tag: any) => (
            <li class="inline-block mr-2">
              <Badge>{tag}</Badge>
            </li>
          ))
        }
      </ul>
    </div>
  </a>
</li>

<style>
  a:hover li > div {
    background-color: #222;
    color: #a3e635;
  }

  a:hover {
    cursor: pointer;
  }

  li:hover > a {
    border: 1px solid #a3e635;
  }

  li:hover > a > div > img {
    border-bottom: 1px solid #a3e635;
  }
</style>
