---
import ProjectView from "../components/ProjectView.astro";

const projects = await Astro.glob("./_projects/*.md");
---

<section class="flex sm:w-screen justify-center pt-5">
  <div
    class="px-5 w-full sm:w-[47rem] flex flex-col gap-4 text-start text-gray-300"
  >
    <h2
      class="text-white font-medium tracking-tight text-xl sm:text-2xl font-heading"
    >
      Projects
    </h2>
    <ul class="sm:grid sm:grid-cols-2 flex flex-col gap-5">
      <!-- Renderizamos los primeros 3 proyectos -->
      <ProjectView title={projects[0].frontmatter.title} description={projects[0].frontmatter.description} url={projects[0].frontmatter.url} img="../src/images/hana_landscape.jpg"  tags={projects[0].frontmatter.tags} />

      <ProjectView title={projects[1].frontmatter.title} description={projects[1].frontmatter.description} img="../src/images/sxdnyOS.jpg" url={projects[1].frontmatter.url} tags={projects[1].frontmatter.tags} />
    </ul>
    {
      projects.length > 6 && (
        <a
          href="/projects"
          class="text-white font-heading font-medium tracking-tight underline text-lg"
        >
          Ver más →
        </a>
      )
    }
  </div>
</section>
